.index{

    /********************************轮播图模块****************************/
    .carousel{
        position: relative;

        .search-container{
            position: absolute;
            top: 20px;
            width: 100%;
            height: 30px;
            padding: 0 10px;

            .search{
                flex: 1;
                height: 100%;
                padding: 0 10px;
                background-color: #fff;
                border-radius: 4px;

                .location{
                    border-right: 1px solid #ccc;

                    .icon-xiangxia{
                        margin: 0 10px 0 5px;
                        font-size: 12px;
                    }
                }

                .search-content{
                    flex: 1;
                    color: #999;

                    .icon-fangdajing{
                        margin: 0 5px 0 10px;
                        vertical-align: middle;
                    }

                    .propmt{
                        font-size: 12px;
                    }
                }
            }

            .icon-ditudingwei{
                margin-left: 10px;
                font-size: 24px;
                color: #fff;
            }
        }
    }


    /********************************导航菜单模块****************************/
    .navigation{
        background-color: #fff;

        .am-flexbox-item{
            padding: 20px 0;
            text-align: center;

            .iconfont{
                font-size: 28px;
                color: #33a3f4;
            }
            .title{
                margin-top: 10px;
                font-weight: normal;
            }
        }
    }


    /********************************租房小组模块****************************/
    .groups{
        .group-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            height: 60px;
        }

        .am-flexbox-align-stretch{
            background-color: inherit;
            margin-bottom: 10px;

            .am-grid-item{
                background-color: #fff;
                border-radius: 5px;

                &:first-of-type{
                    margin-right: 10px;
                }

                .item-img{
                    width: 60px;
                }

                .group-title{
                    margin-bottom: 5px;
                }
            }
        }
    }
}